
/*Diseño general*/
#banner{
    background-color:rgb(226, 223, 223);
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
} 
#logo{
    height: 180px;
    padding-left: 5%;
    margin-top: 10px;
    vertical-align: bottom;
}
#menu li a:hover {
    background-color: #111;
}
#select{
    background-color: #111;
}
#contenido h2{
    text-align: center;
}
#contenido .info{

    font-size:20px;
}
body{
    background-color: rgb(241, 245, 241);
}

/*Desktop*/
@media (min-width: 992px){
    #menu ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: #333;
        display: flex;
        justify-content: center;
     }

    #menu li a {
        font-size: 25px;
        display: block;
        color: white;
        text-decoration: none;
        padding: 15px 50px;
    }
    #contenido{
        text-align: justify;
        padding: 10px 200px;
    }
    #video iframe {
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        display: block;
        width: 500px;
        height: 315px;
    }

.img_museo, .img_tradi, .img_turismo, .img_comida{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
    height: 315px;
}
}

/*Tabletas*/
@media (min-width: 768px) and (max-width: 992px) {

    #menu ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: #333;
     }
    #menu li {
        float: top;
    }
    #menu li a {
        text-align: center;
        font-size: 25px;
        display: block;
        color: white;
        text-decoration: none;
        padding: 15px 50px;
    }
    #contenido{
        text-align: justify;
        padding: 10px 170px;
    }

    #video iframe {
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        display: block;
        width: 400px;
        height: 250px;
    }
    .img_museo, .img_tradi, .img_turismo, .img_comida{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 400px;
        height: auto;
    }

}

/*Celulares*/
@media (max-width: 768px){
    
    #menu ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: #333;
     }
    #menu li {
        float: top;
    }
    #menu li a {
        font-size: 25px;
        display: block;
        color: white;
        text-decoration: none;
        text-align: center;
        padding: 15px 50px;
    }
    #contenido{
        text-align: justify;
        padding: 10px 50px;
    }

    #video iframe {
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        display: block;
        width: 350px;
        height: auto;
    }
    .img_museo, .img_tradi, .img_turismo, .img_comida{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 300px;
        height: auto;
    }
    
}


